.menuChats {
  height: 100vh;
  width: 35vw;
  border-right: 1.5px black solid;
  background: rgb(255, 255, 255, 0.3);
}
.menuChatsButton {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background: none;
  border: none;
}
.menuChatsButton:hover {
  background: rgb(255, 0, 0, 0.1);
}
