.App {
  width: 100vw;
  background: rgb(206, 189, 189, 0.5);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
